

.header-margin {
    margin-top:205px
}

.img-show {
    background-image: url('../../assets/images/hero_1.jpg');
    margin-top: 80px;
    padding-bottom: 350px;
    padding-top: 200px;
    margin-bottom:90px;
    z-index: 1;


}

.section-hero.overlay:before, .section-hero.overlay-2:before {
    z-index: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: -70px;
    background: rgba(0, 0, 0, 0.5);
}




.main-header .main-menu ul li a {
    padding: 8px 20px;

}

.category-img {
    width: 150px;
    height: 150px;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    margin: 5px;
}

.footer-wrappper {
    padding: 41px;
    margin-top:-230px;
}


/*.footer-padding {
    padding-top:500px;
    padding-bottom: 13px;
}

main.main {
    margin-bottom: -300px;
}*/

.job-listings  {
    border: 1px solid #eee;
}

.cats-margin {
    margin: -16px;
    margin-top: 4px;
}

.main {
    margin-bottom: -498px;
}

.input-form3 {
    border-radius: 4px 33px 33px 5px;
}

.input-form4 {
    border-radius: 33px 4px 5px 33px;

}
.btn-height {
    height: 63px;
}

.search-box {
    border: 1px solid rgba(255, 255, 255, 0.16);
}