
body {
    overflow: hidden;

}
.header-margin {
    margin-top:205px
}

.img-show {
    background-image: url('../../assets/images/hero_1.jpg');
    margin-top: 80px;
    padding-bottom: 300px;
    padding-top: 200px;
    margin-bottom:90px;
    z-index: 1;


}

.section-hero.overlay:before, .section-hero.overlay-2:before {
    z-index: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: -80px;
    background: rgba(0, 0, 0, 0.5);
}




.main-header .main-menu ul li a {
    padding: 8px 20px;

}

.category-img {
    width: 150px;
    height: 150px;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    margin: 5px;
}

.footer-wrappper {
    padding: 41px;
    margin-top:-230px;
}


/*.footer-padding {
    padding-top:500px;
    padding-bottom: 13px;
}

main.main {
    margin-bottom: -300px;
}*/

.job-listings  {
    border: 1px solid #eee;
}

.cats-margin {
    margin: -16px;
    margin-top: 4px;
}

.main {
    margin-bottom: 127px;
}

.input-form3 {
    border-radius: 4px 33px 33px 5px;
}

.input-form4 {
    border-radius: 33px 4px 5px 33px;

}
.btn-height {
    height: 63px;
    border-radius: 0;
}

.search-box {
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.footer-area .footer-pera p {
    padding: 0px;
}

/*.nice-select form-control {*/
/*    margin-top: 34px;*/
/*    margin-right: -38px;*/
/*}*/

.footer-bottom-area .footer-copy-right p {
    position: absolute;
    top: 866px;
    width: 671px;
    padding-bottom:50px;
}

.img-padding {
    padding-top: 270px;
}

footer {
    margin-top: -895px;
}
.top-login {
    top:88%;
}

.custom-breadcrumbs {
    padding-top: 94px;
    width: 320px;

}

/*.align-items-center {*/
/*    height:99px;*/


/*}*/

.footer-copy-right text-center {
    position: relative;
}

.margin-f-all {
    margin-left: 88px;
}

.section-hero.overlay:before, .section-hero.overlay-2:before.section-hero.overlay:before, .section-hero.overlay-2:before {
    bottom: -125px;
}

.font-size {
    font-size: 19px;
}

.width-header {
    width:290px;
}

.hover-eff:hover {

    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition:.9s ease-in-out;


}

.card-margin {
    margin-bottom: 30px;
    margin-left: 421px;
    width: 300px;
}

